//@import "../../bower_components/KNACSS/sass/_00-config.scss";
//@import "../../bower_components/KNACSS/sass/_01a-normalize.scss";
//@import "../../bower_components/KNACSS/sass/_01b-base.scss";

/*CSS*/

@import "../bower_components/highlightjs/styles/github.css";

/* own style - START */

body {
    font-family: sans-serif;
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 2em;
}

#manifest {
    //    display: none;
}

.code {
    font-family: monospace;
}

.api {
    background: #ccc;
    margin-top: 2em;
    padding: 1em;
}

#makemefullscreen button {
    display: none;
}
#makemefullscreen:fullscreen {
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
    width: 100%;
    height: 100%;
      display: flex;
  justify-content: center;
  align-items: center;
    .fs-wrapper {
        background-color: #fff;
        width: 50%;
        height: 50%;
        button {
            display: block;
        }
    }
}


/* own style - END */

@media screen and (luminosity: normal) {
    .luminosity .error {
        display: none;
    }
    .luminosity .success {
        display: block;
    }
    .luminosity {
        background-color: #ddd;
        color: #111;
    }
}

@media screen and (luminosity: dim) {
    .luminosity .error {
        display: none;
    }
    .luminosity .success {
        display: block;
    }
    .luminosity {
        background-color: #444;
        color: #ededed;
    }
}

@media screen and (luminosity: washed) {
    .luminosity .error {
        display: none;
    }
    .luminosity .success {
        display: block;
    }
    .luminosity {
        background-color: #ededed;
        color: #333;
    }
}